/* 
IBC Stylesheet
Author: Max Kalb - http://maxkalb.github.io/ 
*/

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  color: #444;
  height: 95%;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 3em;
}

#main {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow:hidden;
}

@media all and (max-height: 620px) {
  #main {
    top: 1em;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    overflow:auto;
  }
}

/* Avoid user selection. Expect input buttons + remove tab highlight */
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
input:not([type='button']) {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

/* Style input selection color */
::selection {
  background: rgba(160, 160, 160, 0.2);
}
::-moz-selection {
  background: rgba(160, 160, 160, 0.2);
}

form {
  max-width: 320px;
  min-width: 320px;
  margin: 0em auto;
}

hr {
  width: 90%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(64,64,64,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(64,64,64,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(64,64,64,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(64,64,64,0.75), rgba(0,0,0,0));
}

#header,
#setupGroup {
  display: block;
  margin: 1em auto;
  width: 100%;
  line-height: 1em;
  font-size: 1.0em;
}

#setupGroup {
  max-width: 320px;
  min-width: 270px;
}
#setupGroup p {
  font-size: 1.1em;
}
#header p {
  font-size: 1.2em;
}

p#output,
input[type="number"] {
  text-align: center;
  font-size: 0.965em;
  line-height: 2em;
  height: 3em;
  width: 60%;
  margin-bottom: 1em;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5em;
  -moz-appearance: textfield;
}

input[type="number"] {
  min-width: 150px;
}

#foodbe,
#settingsBolus {
  margin-bottom: 0em;
}

/* Aviod appearance of up-/down buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove moz dashed rect */
a::-moz-focus-inner,
input::-moz-focus-inner { 
  border: 0; 
}

/* Styling input type numbers */
input[type="number"]:focus,
input[type="number"]:valid {
  outline: none;
  color: #444;
}
input[type="number"]:focus {
  border: 1px solid #ccc;
}

.singleButton {
  display : inline-block;
  position: relative;
  margin: auto;
  width: 18%;  
}

.setupButton,
.selectButton {
  color: #aaa;
  text-align: center;
  background: #eee;
  text-decoration: none;
  outline:0 none !important;
  display : inline-block;
  position: relative;
  margin: auto;
  width: 3em;
  line-height: 3em;
  border-radius: 1.5em;
  border: 1px solid #aaa;
}

.setupButton {
  font-size: 2.5em;
  line-height: 1em;
  max-width: 1em;
  margin-top: 0.33em;
  border: 1px solid transparent;
}

#time {  
  display: block;
  position: relative;
  background: transparent;
  font-size: 0.7em;  
  margin: 3em 0em;
}

#time,
#about,
#therapyInfo {
  font-size: small;
}

#time {
  display: block;
  position: relative;
  line-height: 0.1em;
  margin: 0em 0em;
  padding: 3.5em 0em;
}

.therapyTime,
.therapySetup {
  display: inline-block;
  position: absolute;
  padding: .75em 0.2em;
  line-height: 0em;
  white-space: nowrap;
  background: white;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  #border: 1px solid red;
}

.therapyTime {
  margin: -0.75em 0em;
}

.therapySetup {
  margin-top: -1.9em;
}

.therapySetup span {
  font-size: small;
}

#therapyInfo {
  display: inline-block;
  line-height: 1.5em;
  color: #aaa;
  padding: .05em 0.2em;
  -webkit-transform: translateY(0.5em);
  -moz-transform: translateY(0.5em);
  -ms-transform: translateY(0.5em);
  -o-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

#therapyLink {
  text-decoration: none;
  outline:0 none !important;
  border:0 none;
}

input[type="submit"],
#settingsButton {
  display: block;
  margin: 0.5em auto;
  margin-bottom: 0.75em;
  padding: 0.4em 0em;
  width: 75%;
  border-radius:1.5em;
  font-size: 1.1em;
  color: #444;
  line-height: 1.5em;
  text-align: center;
  background: #eee;
  text-decoration: none;
  border: 1px solid transparent;
  white-space: nowrap;
}

#settingsButton {
  height: 2.5em;
  font-size: 1.2em;
  border-radius: 5em;
  min-width: 270px;
  margin-bottom: 0.75em;
  padding: 0.4em 0em;
  background: transparent;
  border: 1px solid #ddd !important;
}

#settingsButton:hover {
  border: 1px solid #bbb !important;
}

input[type="submit"] {
  width: 50%;
  margin-top: 1.2em;
  font-size: small;
  cursor: hand;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="submit"]:focus,
input[type="submit"]:active,
#settingsButton:focus,
#settingsButton:active,
#settingsButton:visited {
  outline: 0 none !important;
  text-decoration: none;
  border: 1px solid #ccc;
}

/* Style paypal donate button (remove colors, make it grayscale) */
input[type="image"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  /* Hide button due to submit usage */
  display: none;  
}

.settings,
#setupGroup {
  display: none;
  margin: 0.5em auto;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

#settingsSvg {
  opacity: .15;
  width: 70%; 
  height: 70%;
}

.buttonGroup {
  display: block;
  margin: 0em auto;
  max-width: 320px;
  min-width: 270px; 
}

#about {
  font-size:x-small;
  color: #444;
  display: block;
  margin: auto;
}

#about a { 
  text-decoration: none;
  font-size:x-small;
  color: #444;
}

#about a:link { color: #FAA }
#about a:hover,
#about a:active,
#about a:focus,
#about a:visited { 
	color: #444;
}

/* Input/Output ----> */

.inputDiv,
.outputDiv {
  display: block;
  position: relative;
  margin: 1.25em auto;
  height: 3.25em;
  white-space: nowrap;
}

.setupDiv {
  margin: 1.5em auto;
}

.inputDiv > input,
.outputDiv > input {
  position: relative;
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  height: 3em;
  border: 1px solid #ddd;
  border-radius: 5em;
  outline: none;
  -moz-appearance: textfield;
}
.outputDiv > input {
  margin: 0em auto;
  height: 3.2em;
  font-size: 1.2em;
  white-space: nowrap;
  min-width: 270px;
}

.inputDiv > input:hover,
.inputDiv > input:focus,
.outputDiv > input:hover,
.outputDiv > input:focus {
  border: 1px solid #bbb;
}

.inputDiv > input::-webkit-outer-spin-button,
.inputDiv > input::-webkit-inner-spin-button,
.outputDiv > input::-webkit-outer-spin-button,
.outputDiv > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputDiv > .inputTitle,
.inputDiv > .inputFooter,
.outputDiv > .inputTitle,
.outputDiv > .inputFooter {
  position: absolute;
  display: inline-block;
  font-size: small;
  line-height: 18px;
  color: #444;
  background: white;
  border-radius: .75em;
  padding: 0% .5em;
  white-space: nowrap;
  margin-top: -0.7em;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: -8.175em;
}

.inputDiv > .inputFooter {
  color: #aaa;
  background: white;
  font-weight: normal;
  margin-top: 3.1em;
}
.outputDiv > .inputTitle {
  font-size: 1em;
  margin-top: -0.5em;
  margin-left: -42.5%;
}
.outputDiv > .inputFooter {
  color: #aaa;
  background: white;
  font-weight: normal;
  margin-top: 4.2em;
  border: 1px hidden #Fdd;
  margin-left: -10.45em;
}

/* Styling the +/- buttons */
.inputDiv > .incrementButton {
  width: 3em;
  color: #aaa;
  outline:0 none !important;
  background: #eee;
  text-align: center;
  text-decoration: none;
  line-height: 3em;
  position: relative;
  display: inline-block;
  margin: auto;
  border-radius: 1.5em;
  border: 0px solid #eee;
  cursor: pointer; cursor: hand;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.inputDiv > .incrementButton:focus {
  border: 1px solid transparent;
}
.inputDiv > .incrementButton:active {
  border: 1px solid #bbb;
}

/* Styling units selection */
.selectDiv {
  overflow: hidden;
}
.selectDiv > select {
  border: none;
  border: 0 !important;
  color: #aaa;
  #text-align: center;
  background: transparent;
  margin: -.2em auto;
  padding: 0 0;
  text-decoration: none;
  outline: none;
  outline: 0 none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.selectDiv > select:hover {
  color: #444;
}
.selectDiv > .select:focus {
  color: #aaa;
}
.selectDiv > .select:active {
  color: #444;
}

.selectDiv > select:-moz-focusring {
  color: transparent;
  text-shadow:0 0 0 #444;
}
.selectDiv > select:-moz-focusring * {
  color: #444;
  text-shadow: none;
}
.selectDiv > select > option {
  color: #444;
  background: transparent;
  border: 0 !important;
  border: 0px solid transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.selectDiv > select {} option::checked { 
  background-color: #FFF; 
}
/* Remove arrow IE */
.selectDiv > select::-ms-expand {
  display: none;
}


